<ion-header>
  <ion-toolbar>
    <div class="logo" slot="start">
      <img class="img" src="../../assets/logo.jpg" alt="">
    </div>
    <span class="title">Be Inspired</span>
    <div class="icons" slot="end">
      <ion-icon class="favourite" name="heart-outline" (click)="favouritePage()"></ion-icon>
      <ion-icon class="info" name="information-circle-outline" (click)="presentAlertConfirm()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="inner">
      <!-- story start here -->
      <div class="stories">
        <div class="status_bar">
          <div class="story_card" *ngFor="let a of story" (click)="OpenStory(a)">
            <img src="{{a.img}}" class="
              status_img" alt="">
          </div>
        </div>
      </div>
      <!-- story end here -->

      <!-- list start here -->
      <div class="list">
        <ion-item *ngFor="let item of list" (click)="categories(item)">
          <ion-thumbnail slot="start">
            <img class="list-img" src="{{item.img}}">
          </ion-thumbnail>
          <div class="robin">
            <div class="texts">
              <ion-label class="list-title">{{item.title}}</ion-label>
              <span class="list-count">{{item.des?.length}}</span>
            </div>
            <ion-text class="list-des">{{item.des}}</ion-text>
          </div>
        </ion-item>
      </div>
      <!-- list end here -->
    </div>
  </div>
</ion-content>